# .env.example
ENVIRONMENT=development
DEBUG=true
LOG_LEVEL=INFO
API_V1_PREFIX=/api/v1

# Если запускаете приложение ЛОКАЛЬНО (через uvicorn), а базу в докере:
DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5433/library_catalog

# Если запускаете приложение ПОЛНОСТЬЮ В DOCKER COMPOSE:
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/library_catalog
